---
import { ASSETS_URL } from "../../static/utils/constants";
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="iGEM Crete | Collaborations">
  <Navbar activeNav="hp" />
  <div class="blend"></div>
  <div class="container page">
    <div>
      <div class="big-main-title" data-content="Collaborations">
        Collaborations
      </div>
      <section class="parts-container">
        <div class="part scroll">
          <h1 class="part-title">Introduction</h1>
          <p>
            The collaboration criterion was one of the most enjoyable for many
            of us. iGem collaborations highlight the synergistic, and not
            antagonistic, spirit that characterises the competition. We found
            ourselves amazed at how seemingly difficult problems can have
            surprisingly simple solutions when consulting fellow iGEMmers which
            shared with us their unique point of view and vice versa. After all,
            &ldquo;together we stand, divided we fall&rdquo;. Collaborations
            enabled us to take a peep at the wonderful work of the iGEM teams we
            collaborated with, learn from their achievements and wrongdoings and
            get familiar with their tactics and methods. All of these would not
            have been possible to that great extent, without each team
            triggering and being triggered by the others, by virtue of the
            Collaboration criterion. The whole experience was an amazing journey
            in which we learned a lot, and had so much fun!
            <br />
            We couldn't wait to exchange ideas, opinions and maybe form friendships
            with people our age from every corner of the earth. Here is a map showing
            the countries where iGEMTeams, we had the pleasure of working with, are
            located!
          </p>
          <img
            class="img-style"
            width="100%"
            src={`${ASSETS_URL}/images/collab/igem-crete-collaborations-2022.png`}
          />
        </div>
        <div class="subpart scroll">
          <h1 class="part-title">Colouring Book with iGEM USAFA</h1>
          <p>
            iGEM USAFA took the initiative to make a beautiful colouring book in
            order to make the concept of each project more accessible to young
            children by distributing the book to schools. The idea intrigued us
            and so we decided to participate, sending a drawing that describes
            our project and a short description of our project like a fairytale,
            so that it can be understood by little kids.
          </p>
          <div class="center">
            <img
              id="img1"
              class="img-style img-ratio-2"
              width="30%"
              src={`${ASSETS_URL}/images/collab/colloring-book.jpg`}
            />
          </div>
        </div>
        <div class="subpart scroll">
          <h1 class="part-title">Puzzle Book iGEM MSP Maastricht</h1>
          <p>
            iGEM MSP Maastricht reached out to us about a very interesting idea
            they had in order to make the significance of projects clearer to
            people from various social groups. We were thus very happy that we
            contributed to the creation of a puzzle book that included a
            well-liked overview of our initiative and ten words that are
            particularly meaningful to each member of our team.
          </p>
          <div class="center">
            <img
              id="img2"
              class="img-style"
              width="30%"
              src={`${ASSETS_URL}/images/collab/puzzle-book.png`}
            />
          </div>
        </div>
        <div class="part scroll">
          <h1 class="part-title">
            Poster with iGEM Stockholm, iGEM Vilnius-Lithuania, iGEM Tuebingen,
            iGEM Bulgaria, iGEM Turky-Finland, iGEM UCopenhagen
          </h1>
          <p>
            We planned a visit to a high school to forward our goals of making
            our work understandable to both young and elderly. So, we presented
            our project to the kids and their instructors. Moreover, we aimed to
            convey to them the spirit of the competition and the encouragement
            of inter-team collaboration.
          </p>
          <p>
            As a result, we contacted various other fellow teams and worked
            together&nbsp; in order to produce a poster on which each group
            translated the quote: &ldquo;The important thing is to never stop
            questioning (or learning)&rdquo; credited to Albert Einstein in
            their respective language. This collaboration was really exciting
            for all of us and we couldn't wait to share the outcome with the
            children!
          </p>
          <div class="center">
            <img
              id="img2"
              class="img-style"
              width="30%"
              src={`${ASSETS_URL}/images/collab/yellow-poster.png`}
            />
          </div>

          <p>
            We built a wonderful relationship with iGEM UCopenhagen via the
            poster's design. That's why we were really thrilled when they asked
            us to work together on another, equally lovely project.
          </p>
        </div>
        <div id="collab-Ucopenhagen" class="subpart scroll">
          <h1 class="part-title">Video Collab with iGEM UCopenhagen</h1>
          <p>
            We also took a break to visit the sea and participate in the
            Netlantis UCPH team's amazing promotion video! One member of our
            team took a video as they stood in front of that particular water
            body and said the emotion that emerges from it. So, the word that we
            chose is serenity, or as we said it in our native language:
            &lsquo;&rsquo;&gamma;&alpha;&lambda;ή&nu;&eta;&rsquo;&rsquo;!
          </p>
          <p>
            We additionally took part in a challenge they organized on social
            media, where we submitted our preferences for various aspects in the
            wet lab area.
          </p>
          <div class="center">
            <img
              id="img2"
              class="img-style"
              width="40%"
              src={`${ASSETS_URL}/images/collab/video-collab-ucopenhagen.png`}
            />
          </div>
        </div>
        <div class="subpart scroll">
          <h1 class="part-title">
            Safety Collage with iGEM Thessaly, iGEM Patras, iGEM Athens
          </h1>
          <p>
            On the occasion of the World Day for Safety and Health at Work, we
            decided to organise a collaboration to promote the message that no
            condition should violate people's rights to safe work: a concept
            that is often undervalued and should concern the research field
            more. Therefore, we decided that a safety collage would be a simple
            and entertaining approach to spread this message. Hence, we got in
            touch with the safety manager of each team in order to provide us
            with some information about why maintaining safety in the lab space
            is so crucial. Consequently, a fantastic collage and an even better
            message resulted from this lovely teamwork.
          </p>
          <div class="center">
            <img
              id="img2"
              class="img-style"
              width="50%"
              src={`${ASSETS_URL}/images/collab/safety-collage.png`}
            />
          </div>
        </div>
        <div class="subpart scroll">
          <h1 class="part-title">
            A beautiful collaboration with iGEM PatrasMed: &lsquo;&rsquo;Would
            our project be helpful to the achievement of the 17 Sustainability
            Goals?&rsquo;&rsquo;
          </h1>
          <p>
            As a team we placed a lot of emphasis on the 17 Sustainability
            Goals. We wanted to contribute in order for the global community to
            come closer to their achievement. Consequently, we were thrilled
            when iGEM Patras Med contacted us about working together to create a
            stunning collaboration in which we would outline exactly how our
            project promotes these goals.
          </p>
        </div>
        <div class="subpart scroll">
          <h1 class="part-title">Survey for iGEM Patras</h1>
          <p>
            We collaborated with iGEM Patras by sharing feedback towards their
            project. We answered a survey regarding precision agriculture, so
            that they can have enough data to work with. They used the data to
            be able to direct their approach as for communicating their project
            to the general public and to implement their project in the best
            possible way.
          </p>
          <p>
            <a
              class="link"
              href="https://docs.google.com/forms/d/e/1FAIpQLSfJdiCUCuj5oulys7asoGemNna7t2CxQwk3bb5uFaA60sClJQ/viewform?usp=sf_link"
              target="_blank"
              rel="noopener"
            >
              Survey
            </a>
          </p>
        </div>
        <div class="subpart scroll">
          <h1 class="part-title">
            An article about synthetic biology with iGEM of UNSW
          </h1>
          <p>
            We sent an article of 300 words to iGEM of UNSW to assist with their
            education and communication efforts. The Article was about the
            importance of the applications of synthetic biology and how they can
            benefit us all by reducing malnutrition in developing countries.
            Moreover, the article was translated in Greek, as an effort to make
            it accessible to people from different regions as well.&nbsp;
          </p>
        </div>
        <div class="subpart scroll">
          <h1 class="part-title">
            World Environment Day with iGEM IISER Tirupati India
          </h1>
          <p>
            The World Environment Day inspired us to invite iGEM teams to help
            us honor its importance! Our goal was to raise awareness about the
            environmental importance of buying locally, since it reduces the
            miles travelled by products, the so called &ldquo;food miles'', and
            consequently the pollution created by transportation. So we asked
            for pictures of local shops and shared them creating a relevant
            Instagram post of a coffee shop that a member of our team owns, and
            of a food shop from team iGEM IISER Tirupati, that replied to our
            calling.
          </p>
          <div class="img-grid-2">
            <img
              id="img2"
              class="img-style"
              src={`${ASSETS_URL}/images/collab/collab2.jpg`}
              style="transform: rotate(90deg);"
            />
            <img
              id="img2"
              class="img-style"
              src={`${ASSETS_URL}/images/collab/collab1.jpg`}
            />
          </div>
        </div>
        <div class="subpart scroll">
          <h1 class="part-title">
            World Environment Day with iGEM Vilnius-Lithuania
          </h1>
          <p>
            We were really excited to honour this day with another exciting
            collaboration! iGEM Vilnius-Lithuania organised a collaboration, in
            which we participated by sending them pictures for a collage that
            they made in honor for this day. They asked us to send them a group
            photo by a forest, river or sea and so we did. We sent a photo of us
            by the Aegean Sea, a few meters away from where one of the most
            famous Greek authors, the late Nikos Kazantzakis, is lying.
          </p>
          <div class="center">
            <img
              id="img2"
              class="img-style img-ratio-1"
              width="50%"
              src={`${ASSETS_URL}/images/collab/team.jpg`}
            />
          </div>
        </div>
        <div class="subpart scroll">
          <h1 class="part-title">
            Pre Aegean Meeting with iGEM Athens, iGEM Thessaloniki, iGEM Meta
            Thess, iGEM Thessaly, iGEM Ioannina, Patras Medicine, Up hellas
          </h1>
          <p>
            iGEM Patras took the wonderful initiative of setting up an online
            meet up for the Greek teams to get to know one another in advance of
            the next Aegean Meeting. After seizing the chance to communicate our
            projects, we enjoyed countless activities that allowed us to get to
            know each other even better. Then, we had meaningful conversations
            regarding the significance of synthetic biology and finally we
            attended speeches by professors that marked the end of the meeting
            in a very interesting way!
          </p>
          <div class="center">
            <img
              id="img2"
              class="img-style img-ratio-2"
              width="30%"
              src={`${ASSETS_URL}/images/collab/photo-insta.jpg`}
            />
          </div>
        </div>
        <div class="subpart scroll">
          <h1 class="part-title">Aegean meeting with the Greek iGEM Teams</h1>
          <p>
            After all that we were looking forward to the Aegean meeting that
            took place in Patra. It was a huge collective gathering of all Greek
            iGEM teams organised by iGEM Patras. Every team presented their
            project and then we communicated and exchanged info, tips and
            feedback. Several workshops were held in which (post) doctoral
            students educated and updated us according to the iGEM competition,
            how to properly lead an iGEM team and to acquire medals. Patras P.I.
            Mr Patrinos gave a captivating speech which inspired us to continue
            working hard in the competition. The gathering was followed by a
            party in which we had the chance to get to know each other better,
            bond and form, hopefully, life long friendships with all the amazing
            people we met.
          </p>
          <div class="img-grid-2">
            <img
              class="img-style"
              src={`${ASSETS_URL}/images/collab/aegean-meeting.jpg`}
            />
            <img
              class="img-style"
              src={`${ASSETS_URL}/images/collab/aegean-meeting2.jpg`}
            />
            <img
              class="img-style"
              src={`${ASSETS_URL}/images/collab/aegean-meeting3.jpg`}
            />
            <img
              class="img-style"
              src={`${ASSETS_URL}/images/collab/aegean-meting4.jpg`}
            />
          </div>
        </div>
        <div class="subpart scroll">
          <h1 class="part-title">National DNA day with iGEM Patras</h1>
          <p>
            iGEM Patras Med decided to organise a collaboration in consideration
            of National DNA Day on April 25th. Each participating team had to
            send a photo of one of its members holding a paper with one of the
            G&ndash;C&ndash;A&ndash;T letters written on it, which represent the
            four nucleobases in the nucleic acid of DNA. The goal was to
            celebrate the completion of the human genome project and the
            discovery of the double helix by creating a double helix
            ourselves!&nbsp;
          </p>
          <div class="center">
            <img
              id="img2"
              class="img-style"
              width="30%"
              src={`${ASSETS_URL}/images/collab/dna-day.jpg`}
            />
          </div>
        </div>
        <div class="subpart scroll">
          <h1 class="part-title">
            28th Scientific Society of Hellenic Medical Students (SCHMS) - 16th
            International Forum for Medical Students and Junior Doctors
          </h1>
          <p>
            Our team took the initiative to contact the members of the
            Scientific Society of Hellenic Medical Students (SCHMS) in order to
            participate in this year's Congress, this time in a session
            dedicated to the Greek iGEM teams. On the 14th of May 2022 our team,
            along with other Greek iGEM teams, interacted with one another and
            presented ourselves in the 28th Scientific Society of Hellenic
            Medical Students (SCHMS) and the 16th International Forum for
            Medical Students and Junior Doctors, in Athens. During our
            presentation we referred to both the iGEM Competition, as well as
            the ways our projects impact our society. Our aim was to reveal our
            work to the public and acknowledge the applications and
            implementations of synthetic biology into the future therapeutics.
            Overall, it gave us the opportunity to attend the rest of the
            congress, partake in numerous incredible speeches and keep up with
            the challenges of public health, while the foundation for more great
            collaborations among the Greek teams were set.&nbsp;
          </p>
          <div class="center img-grid-3">
            <img
              id="img2"
              class="img-style img-ratio-1"
              width="40%"
              src={`${ASSETS_URL}/images/collab/presentation.jpg`}
            />
            <img
              class="img-style img-ratio-1"
              width="40%"
              src={`${ASSETS_URL}/images/collab/people.jpg`}
            />
          </div>
          <div class="center"></div>
        </div>
      </section>
    </div>
  </div>
  <Footer />
</Layout>

<style>
  @import "../../static/styles/text-page.css";

  .link {
    color: var(--blue-color);
    text-decoration: underline;
  }
  .img-style {
    border-radius: 10px;
  }

  .img-ratio-1 {
    aspect-ratio: 1 / 1;
    object-fit: cover;
  }

  .img-ratio-2 {
    aspect-ratio: 3 / 4;
    object-fit: cover;
  }

  .img-grid {
    display: flex;
    gap: 1em;
  }

  .img-grid img {
    aspect-ratio: 1/1;
    object-fit: cover;
    width: 30%;
  }

  .img-grid-2,
  .img-grid-3 {
    display: flex;
    flex-direction: row;
    gap: 1em;
  }

  .img-grid-2 img {
    aspect-ratio: 1/1;
    object-fit: cover;
    width: 20%;
  }

  @media (max-width: 992px) {
    #img1,
    #img2 {
      width: 50%;
    }
  }

  @media (max-width: 768px) {
    #img1,
    #img2 {
      width: 60%;
    }
    .center {
      display: flex;
      justify-content: center;
    }
    .img-grid img {
      width: 50%;
    }

    .img-grid-2,
    .img-grid-3 {
      flex-direction: column;
      align-items: center;
    }

    .img-grid-2 img {
      width: 50%;
    }
  }
  @media (max-width: 576px) {
    #img1,
    #img2 {
      width: 70%;
    }
  }
  @media (max-width: 380px) {
    #img1,
    #img2 {
      width: 80%;
    }
  }
</style>
