---
import { ASSETS_URL } from "../../static/utils/constants";
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Sidebar from "../components/Sidebar.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="iGEM Crete | Education & Communication">
  <Navbar activeNav="hp" />
  <div class="blend"></div>
  <div class="container page">
    <div>
      <Sidebar
        items={[
          {
            mainPart: { title: "Introduction", id: "part1" },
            subParts: [],
          },
          {
            mainPart: {
              title: "Approaching inaccessible communities",
              id: "part2",
            },
            subParts: [],
          },
          {
            mainPart: {
              title: "Natural History Museum",
              id: "part3",
            },
            subParts: [],
          },
          {
            mainPart: {
              title: "High School of Viannos",
              id: "part4",
            },
            subParts: [],
          },
          {
            mainPart: {
              title: "28th Scientific Society",
              id: "part5",
            },
            subParts: [],
          },
          {
            mainPart: {
              title: "Interviews and the press",
              id: "part6",
            },
            subParts: [],
          },
          {
            mainPart: {
              title: "AISEC Greece",
              id: "part7",
            },
            subParts: [],
          },
          {
            mainPart: {
              title: "Meeting with students",
              id: "part8",
            },
            subParts: [],
          },
          {
            mainPart: {
              title: "ESN UoC - iGem Crete",
              id: "part9",
            },
            subParts: [],
          },
          {
            mainPart: {
              title: "Community of Chandras",
              id: "part10",
            },
            subParts: [],
          },
          {
            mainPart: {
              title: "Booths",
              id: "part11",
            },
            subParts: [],
          },
          {
            mainPart: {
              title: "Asking the experts",
              id: "part12",
            },
            subParts: [],
          },
          {
            mainPart: {
              title: "How to communicate",
              id: "part13",
            },
            subParts: [],
          },
          {
            mainPart: {
              title: "Surveys",
              id: "part14",
            },
            subParts: [],
          },
          {
            mainPart: {
              title: "Reach out to Bioethics",
              id: "part15",
            },
            subParts: [],
          },
          {
            mainPart: {
              title: "HeIMSIC gathering",
              id: "part16",
            },
            subParts: [],
          },
          {
            mainPart: {
              title: "Debate with iGEM Thessaloniki",
              id: "part17",
            },
            subParts: [],
          },
          {
            mainPart: {
              title: "Human Practices Committee",
              id: "part18",
            },
            subParts: [],
          },
        ]}
      />
    </div>

    <div>
      <div class="big-main-title" data-content="Education &">Education &</div>
      <div class="big-main-title" data-content="Communication">
        Communication
      </div>
      <section class="parts-container">
        <div id="part1" class="part scroll">
          <h1 class="part-title">Introduction</h1>
          <p>
            Thanks to this criterion we were offered numerous opportunities for
            fascinating experiences. It is a special criterion that does not
            restrict us, the more the better. So we did, with every chance that
            we got we managed to reach out to the community with interesting
            actions, informing them about our project and the concept of
            synthetic biology. We tried to meet with various kinds of people,
            from little kids to top scientists. With individuals and
            communities, with people from every age group. We communicated our
            project in every possible way and audience. Everyone had something
            to teach us and something to learn from us and in the end, we all
            shared one common thing; our enthusiasm for synthetic biology.
          </p>
        </div>
        <div id="part2" class="subpart scroll">
          <h1 class="part-title">Approaching inaccessible communities</h1>
          <p>
            After many meetings and brainstorming sessions, we came to the
            conclusion that a small, agricultural community would more easily
            accept a mysterious diagnostic tool if the information came from a
            source that is familiar to them. Having that in mind we contacted
            the president of LC, Kallithea Kalabakas, and informed him about our
            innovative technology and its future implementation. As the
            community’s main income originates from land cultivation he assured
            us that such a technology could save farmers a lot of effort and
            time, by avoiding the transportation of samples back to the
            Laboratory Facilities. We were excited when he informed us that he
            will also notify the community members about the technology of Lrr
            diagnostics and their benefits.
          </p>
          <img
            class="img-style stelios-img"
            src={`${ASSETS_URL}/images/education/k-stergios.jpg`}
          />

          <p>
            He also urged us to publish a comprehensive description of our
            project on his website in order for this information to be
            accessible to each one of the residents in the community.
          </p>
        </div>
        <div id="part3" class="subpart scroll">
          <h1 class="part-title">
            Natural History Museum of Crete - University of Crete
          </h1>
          <p>
            Our visit to the Museum of Natural History of Heraklion was
            something to be remembered. With our holistic approach, we managed
            to instill the concepts of synthetic biology, immunology, and
            biochemistry and values such as respect for the environment,
            cooperating in a team spirit, and of course the love for science and
            learning! We orchestrated a series of activities specifically
            designed to be pleasurable and educating for children ranging from 6
            to 18 years old. Our wet lab members demonstrated impressive
            experiments such as DNA extraction from strawberries, some
            cultivation of the microbes of our hands, and the unexpected use of
            a hot potato and the Elephant toothpaste! There were fun,
            educational games that we invented, interesting activities and
            quizzes, and a corner for a quick break for arts and crafts.
            Furthermore, a Pacman-like mini-game that we developed was
            available, which intrigued many children, though there was a catch:
            it was a perfect chance for us to inform them about our project!
          </p>
          <p>The childrens favorite educational game: Spot it!</p>
          <p>
            At this game we manufactured a TSWV-infected tomato, using a red
            ball. We gave facial features to our tomato, in order to be more
            appealing to the children. There were stickers on the tomato
            representing the black spots that are the main symptom of TSWV.
            Children should spot the right biological
            macromolecule/microorganism that was drawn under each sticker. If
            their guess was successful they would take the sticker, or else they
            should put it back onto the tomato and try to remember what they
            saw. The purpose of the game was for the children to cooperate both
            in a team and individually in order to save the tomato from the
            virus. Simultaneously they were getting in touch with synthetic
            biology and learning the basics of immunology in a fun and
            comprehensive game.
          </p>

          <!-- Slider container -->
          <div class="slider">
            <div class="slide">
              <img src={`${ASSETS_URL}/images/education/exp.jpg`} />
            </div>
            <div class="slide">
              <img src={`${ASSETS_URL}/images/education/1-optimized.jpg`} />
            </div>
            <div class="slide">
              <img src={`${ASSETS_URL}/images/education/2-optimized.jpg`} />
            </div>
            <div class="slide">
              <img src={`${ASSETS_URL}/images/education/3-optimized.jpg`} />
            </div>
            <div class="slide">
              <img src={`${ASSETS_URL}/images/education/4-optimized.jpg`} />
            </div>
            <div class="slide">
              <img src={`${ASSETS_URL}/images/education/kids.jpg`} />
            </div>
            <div class="slide">
              <img src={`${ASSETS_URL}/images/education/exp2.jpg`} />
            </div>
            <div class="slide">
              <img src={`${ASSETS_URL}/images/education/museum.png`} />
            </div>
            

            <!-- Control buttons -->
            <button class="btn btn-next">
              <i class="ph-arrow-circle-right-bold"></i>
            </button>
            <button class="btn btn-prev">
              <i class="ph-arrow-circle-left-bold"></i>
            </button>
          </div>
        </div>
        <div id="part4" class="subpart scroll">
          <h1 class="part-title">
            Visiting the Senior High School of Viannos-Educational Poster
          </h1>
          <p>
            Viannos is a mountaintop, rural municipality. During our visit to
            its senior high school in May, we educated students about iGEM, our
            project, and its implementations. We explored the wonderful concepts
            of immunology and synthetic biology, which they grasped and amazed.
            We had some enlightening conversations with the kids that were
            interested in the (job) life of a biologist, while we provided tips
            for their future choices.
          </p>
          <p>
            Furthermore, we gave the school a poster in order to capture
            students' interest. The poster was made with fellow iGEM teams and
            each group translated the quote: The important thing is to never
            stop questioning (or learning) credited to Albert Einstein in their
            respective language.
          </p>
          <img
            class="img-style"
            width="50%"
            src={`${ASSETS_URL}/images/education/img3.jpg`}
          />
          <p>
            <strong
              ><a
                class="link"
                href="https://glykviannos.blogspot.com/2022/05/igem-crete-2022.html"
                target="_blank">Igem Crete on glykviannos blogspot</a
              >
            </strong>
          </p>
        </div>
        <div id="part5" class="subpart scroll">
          <h1 class="part-title">
            28th Scientific Society of Hellenic Medical Students (SCHMS) - 16th
            International Forum for Medical Students and Junior Doctors
          </h1>
          <p>
            Our team took the initiative to contact the members of the
            Scientific Society of Hellenic Medical Students (SCHMS) in order to
            participate in this year's Congress, this time in a session
            dedicated to the Greek iGEM teams.
          </p>
          <p>
            On the 14th of May 2022 our team, along with other Greek iGEM teams,
            interacted with one another and presented ourselves at the 28th
            Scientific Society of Hellenic Medical Students (SCHMS) and the 16th
            International Forum for Medical Students and Junior Doctors, in
            Athens.
          </p>
          <p>
            Throughout our presentation, we referred to both the iGEM
            Competition, as well as the social impacts of our projects. Our aim
            was to reveal our work to the public and acknowledge the
            applications and implementations of synthetic biology in future
            therapeutics. Overall, it gave us the opportunity to attend the rest
            of the congress, partake in numerous incredible speeches and keep up
            with the challenges of public health, while laying the foundation
            for additional fruitful partnerships amongst the Greek teams.
          </p>
          <p>
            What is more, the gathering was extended to a lovely restaurant,
            where we had the chance to really get to know each other. We learned
            a lot about each team's origin, the tactics and way of thinking, and
            each one's future planning, and of course we had a great time
            together! Early in the night we began troubleshooting our projects
            and suggesting solutions but as the night went on, we found common
            interests and loved each other's company.
          </p>
          
          <img
            class="img-style"
            width="50%"
            src={`${ASSETS_URL}/images/education/presentation.jpg`}
          />
        </div>
        <div id="part6" class="subpart scroll">
          <h1 class="part-title">Interviews and the press</h1>
          <p>
            The media were of great help alongside our efforts to reach out to
            the community. We were in contact with more than 20 newspapers and
            sites of Heraklion. Among others, we were interviewed on ‘Creta
            live’, regarding various aspects of biology and our course in the
            competition, which was very informative and comprehensive, both for
            the public audience and for the more biology-inclined one.
            Furthermore, ‘Diazoma Portal’ and ‘Patris’, published articles about
            us, which gave us popularity and recognition. There was a brief
            description of our team and its cause, an update about our actions
            and initiatives, and our vision for the future. It was a true
            milestone for our effort, which allowed us to broaden our audience
            geometrically.
          </p>
          <p>
            <strong>
              <a
                class="link"
                href="https://www.patris.gr/2022/09/21/apo-tin-igem-crete-o-thaymastos-kosmos-tis-ekthesis-synthetikis-viologias/"
                target="_blank"
                >Igem Crete on Patris.gr
              </a>
            </strong>
          </p>
          <!-- <span style="color: red;">IMAGE</span> -->
          <strong>
            <a
              class="link"
              href="https://www.cretalive.gr/epistimes/anasa-stoys-agrotes-kai-stis-ellinikes-exagoges-apo-panepistimio-kritis"
              target="_blank"
              >Igem Crete on Cretalive
            </a>
          </strong>

          <!-- <span style="color: red;">IMAGE</span> -->
          <strong>
            <a
              class="link"
              href="https://diazomaportal.com/news/zoh/i-igem-crete-ston-pagkosmio-diagonismo-synthetikis-biologias"
              target="_blank"
              >Igem Crete on Diazomaportal
            </a>
          </strong>

          <!-- <span style="color: red;">IMAGE</span> -->
        </div>
        <div id="part7" class="subpart scroll">
          <h1 class="part-title">AISEC Greece</h1>
          <p>
            The AISEC team contributed a great deal in the shape of our
            mentality and our choice of project. At the beginning of the team's
            formation, there was a fruitful discussion in which we were able to
            get inspired by the presentation of the 17 sustainable goals for
            development set by the organisation of the United Nations. The AISEC
            team members helped us connect our passion for biology with the
            vision of improving the world's society. Thus, our project was
            established by the will to follow goal number 12 - "ENSURE
            SUSTAINABLE CONSUMPTION AND PRODUCTION PATTERNS" - while at the same
            time touching the grounds of other goals like number 1 - "No
            poverty". We consider the various meetings done by our team and
            AISEC Greece a fundamental step in our path, as they helped us get
            motivated, inspired us to work for a better future and, last but not
            least, helped us grow and mature by understanding how science and in
            general every human activity should be aiming to give back to
            society as long as humanity wants to experience a new era of
            enlightenment. Finally, they advised us to implement our ambitions
            both on a theoretical and on a practical level, as we did in the
            following actions.
          </p>
          <img
            class="img-style"
            width="50%"
            src={`${ASSETS_URL}/images/education/goals.png`}
          />
        </div>
        <div id="part8" class="subpart scroll">
          <h1 class="part-title">
            Meeting with students in the Field of Agriculture
          </h1>
          <p>
            We wanted to stay in constant touch with someone that is a future
            user of our diagnostic tool, but also is closer to our age and
            comprehends our struggles throughout the competition. Thus, we
            contacted student groups of the Agricultural University of Athens
            and presented our project and our plans regarding its future
            implementation. Overall these meetings were the occasions for very
            intriguing discussions.
          </p>
          <img
            class="img-style"
            width="50%"
            src={`${ASSETS_URL}/images/education/wiki.png`}
          />
        </div>
        <div id="part9" class="subpart scroll">
          <h1 class="part-title">ESN UoC - iGem Crete</h1>
          <p>
            Presenting the idea of our project brought us unexpectedly a new
            partnership. The local section of Erasmus Student Network(ESN), an
            NGO with social activities run by students, approached us to ask for
            help. The idea was that our team members would help in the process
            of writing an ESC grant to be submitted by ESN UoC. The topic is
            sustainable agriculture, and the two main crops chosen for
            cultivation are potatoes and tomatoes. Our team gladly provided
            guidance and trained the volunteers on basic crop cultivation
            skills, especially for tomatoes. At the same time, we were able to
            provide first-hand field experience. The collaboration stepped even
            further, with ESN asking us to give a day conference about science
            and synthetic biology to the Erasmus people studying in Crete.
            Utilizing this chance, we spread the ideas of synthetic biology.
            Generally, our passion for biology happened with great success on
            25/6/2022. At the same time, our team still has fruitful
            cooperation, which will continue growing even after the completion
            of the competition. It is essential for us and the local society
            that two groups of students share the same values and passion for
            changing the world into a better place for all. That's why the crops
            cultivated by the numerous volunteers will mainly support refuge
            campuses across Greece with the hope of improving people's lives.
          </p>
        </div>
        <div id="part10" class="subpart scroll">
          <h1 class="part-title">
            Principal, biologists and local community of Chandras
          </h1>
          <p>
            We conducted a virtual meeting with the principal and the biologist
            of the junior highschool of a small, rural village named Chandras.
            As the principal wrote ‘Our biologist will inform our students and
            their parents about the useful diagnostic kit. Our school is in a
            semi-mountainous, rural area of Lasithi and the student's parents
            are mostly farmers, cultivating tomatoes and selling them to public
            markets. Thus, such useful information should be forwarded to them’,
            which really summarizes the goal of our meeting. Both the principal
            and the biologist were very helpful and supportive and we easily
            overcame some technical difficulties that occurred.
          </p>
          <img
            class="img-style"
            width="50%"
            src={`${ASSETS_URL}/images/education/xristaki.png`}
          />
        </div>
        <div id="part11" class="subpart scroll">
          <h1 class="part-title">Booths</h1>
          <p>
            Trying to boost the visibility of our project, we proceeded with the
            organization of booths in the campus universities in Heraklion and
            Rethymno. At the same time, we had a stand in the city center of
            Heraklion. Local people, especially students, had the chance to
            learn about synthetic biology and ask questions about our ongoing
            research. In our opinion, the booths were characterized by great
            success as local media and newspapers spread the news.
          </p>
          <div class="img-grid">
            <img
              class="img-style"
              width="40%"
              src={`${ASSETS_URL}/images/human-practices/p-tsa-optimized.jpg`}
            />
            <img
              class="img-style"
              width="40%"
              src={`${ASSETS_URL}/images/human-practices/p-tsa2-optimized.jpg`}
            />
          </div>
        </div>
        <div id="part12" class="subpart scroll">
          <h1 class="part-title">Asking the experts</h1>
          <p>
            Considering how to approach a project with implementation prospects,
            we sought help from local agriculturalists seeking their advice.
            Presenting our idea, in the beginning, was challenging, especially
            at older ages, but through the promising results produced, we could
            show them our idea's vast potential. Most specialists always had
            helpful comments and helped us realize many points of view that we
            hadn't considered. The educational process thus happened in a
            two-way format from us to the agriculturalists and vice versa. The
            dialogue boosted the communication axis and made our work known to
            the field specialists.
          </p>
        </div>
        <div id="part13" class="subpart scroll">
          <h1 class="part-title">How to communicate</h1>
          <p>
            Emphasizing the communication of our project, we used various social
            media as stepping stones toward our connection to society.
            Especially on platforms like Instagram, we were very active, posting
            fun facts about biology every week, quizzes about our project, and
            different games. This continued interaction helped us make complex
            meanings easy to understand, thus bringing us closer to the average
            person. We received very supportive comments from people of all
            backgrounds, which boosted our confidence that something good was
            happening.
          </p>
        </div>
        <div id="part14" class="subpart scroll">
          <h1 class="part-title">Surveys</h1>
          <p>
            Getting a better understanding of where we stood every time the key
            was the surveys. During our IGem journey, we conducted several
            stages of the project surveys to form a feedback loop helping us to
            see clearly what were our strong and weak points. The surveys
            managed to figure out the needs of society, leading us to a more
            sustainable design strategy. The surveys also helped the
            communication team make clear how the community reacts to our idea,
            and at the same time, the fundraising team found fertile ground to
            bring more economic support.
          </p>
        </div>
        <div id="part15" class="subpart scroll">
          <h1 class="part-title">Reach out to Bioethics</h1>
          <p>
            We reached out to bioethicists such as Mrs. Tsinorema to be
            instilled with the values of bioethics and understand them better.
            We discussed ethical restrictions and how they are not always in
            agreement with the laws, and how something legal in one country can
            be illegal in others, so we should value the global ethical
            principles that we all have in common.
          </p>
        </div>
        <div id="part16" class="subpart scroll">
          <h1 class="part-title">HeIMSIC gathering</h1>
          <p>
            It is a society, representing medical students. They organized a
            conference about immunology and vaccination policies in Greece. As
            our last year's project ‘edible vaccine’ was relevant they reached
            out to us in order to present our work there, communicate with them,
            and keep in touch. It eventually turned out that this year we also
            worked on a diagnostics project so that meeting, even early in the
            competition, was fruitful and relevant and gave us great knowledge
            in the field of immunology. The speeches of the experts were amazing
            and inspiring and they surely had to do with this year’s choice of
            project.
          </p>
          <img
            class="img-style"
            width="50%"
            src={`${ASSETS_URL}/images/education/presentation2.jpg`}
          />
        </div>
        <div id="part17" class="subpart scroll">
          <h1 class="part-title">Debate with iGEM Thessaloniki</h1>
          <p>
            After our Meeting with Mrs. Tsinorema we were skeptic about the
            field of bioethics. It was then that we decided to share our point
            of view with our fellow iGEMmers from iGEM Thessaloniki. We
            organized a virtual debate in which we addressed the issue of
            whether rich people should be able to buy preferable genes for their
            children. How ethical will that be? Several opinions were heard
            about the issue. We came to a conclusion that if it is to become a
            reality, it would have to be only in extreme causes of rare genetic
            abnormalities and not for aesthetic reasons.
          </p>
          <img
            class="img-style"
            width="50%"
            src={`${ASSETS_URL}/images/education/slide.png`}
          />
        </div>
        <div id="part18" class="subpart scroll">
          <h1 class="part-title">
            The Human Practices Committee and iGEM Community Science
            Communication Steering Group.
          </h1>
          <p>
            While communicating our project to the world is the main purpose of
            Human Practices, equally important for us was the opportunity to
            communicate with the iGEM community. Through a series of Workshops ,
            hosted by The Human Practices Committee and iGEM Community Science
            Communication Steering Group, we enhanced our soft skills and felt
            ready to apply our knowledge to the world!
          </p>
        </div>
      </section>
    </div>
  </div>

  <Footer />
</Layout>

<style>
  @import "../../static/styles/text-page.css";

  .stelios-img {
    width: 30%;
    aspect-ratio: 3/4;
    object-fit: fill;
    object-position: bottom 50px;
  }

  .slider {
    width: 100%;
    max-width: 800px;
    height: 500px;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
  }

  .slide {
    width: 100%;
    max-width: 800px;
    position: absolute;
    transition: all 0.5s;
  }

  .slide img {
    width: 100%;
    height: 100%;
    background-position: center;
  }

  .btn {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 50%;
    z-index: 10px;
    cursor: pointer;
    background-color: #fff;
    font-size: 2rem;
  }
  .btn:active {
    transform: scale(1.1);
  }
  .btn-prev {
    top: 45%;
    left: 2%;
  }

  .btn-next {
    top: 45%;
    right: 2%;
  }

  .lists,
  .sublists {
    list-style-type: none;
    padding-left: 2.5em;
    position: relative;
  }

  .lists:before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: var(--blue-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    top: 10px;
    left: 15px;
  }

  .link {
    color: var(--blue-color);
    text-decoration: underline;
  }
  a:hover {
    color: var(--coral-red-color);
  }
  .img-grid {
    display: flex;
    gap: 1em;
  }
  strong {
    color: var(--blue-color);
  }
  .img-grid img {
    aspect-ratio: 1/1;
    object-fit: cover;
    width: 30%;
  }
  .img-style {
    border-radius: 10px;
  }

  /*iframe*/
  .responsive {
    width: 100%;
  }

  .booklet-toggle {
    display: none;
  }

  .overflow {
    overflow-x: auto;
  }
  /*iframe .booklet-button*/
  .booklet-button {
    z-index: 0;
    --color: var(--coral-red-color);
    font-family: inherit;
    display: inline-block;
    width: 8em;
    height: 2.6em;
    line-height: 2.5em;
    position: relative;
    overflow: hidden;
    border: 2px solid var(--color);
    transition: color 0.5s;

    font-size: 1.25rem;
    border-radius: 6px;
    font-weight: 600;
    color: var(--color);
    background-color: white;
  }

  .booklet-button:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--color);
    height: 150px;
    width: 200px;
    border-radius: 50%;
  }

  .booklet-button:hover {
    color: #fff;
  }

  .booklet-button:before {
    top: 100%;
    left: 100%;
    transition: all 0.7s;
  }

  .booklet-button:hover:before {
    top: -30px;
    left: -30px;
  }

  .booklet-button:active:before {
    background: white;
    transition: background 0s;
  }
  .center {
    display: flex;
    justify-content: center;
  }
  .overflow {
    overflow-x: auto;
  }
  @media (max-width: 576px) {
    .img-grid {
      flex-direction: column;
      align-items: center;
    }
    .img-grid img {
      width: 50%;
    }
  }
  @media (max-width: 576px) {
    .responsive {
      width: 100%;
      height: 400px;
    }
  }
  @media (max-width: 420px) {
    .responsive {
      width: 100%;
    }
  }
</style>

<script>
  const slides = document.querySelectorAll(".slide");

  slides.forEach((slide: HTMLElement, indx) => {
    slide.style.transform = `translateX(${indx * 100}%)`;
  });

  const nextSlide = document.querySelector(".btn-next");
  const prevSlide = document.querySelector(".btn-prev");

  let curSlide = 0;
  let maxSlide = slides.length - 1;

  nextSlide.addEventListener("click", function () {
    if (curSlide === maxSlide) {
      curSlide = 0;
    } else {
      curSlide++;
    }

    //   move slide by -100%
    slides.forEach((slide: HTMLElement, indx) => {
      slide.style.transform = `translateX(${100 * (indx - curSlide)}%)`;
    });
  });

  prevSlide.addEventListener("click", function () {
    if (curSlide === 0) {
      curSlide = maxSlide;
    } else {
      curSlide--;
    }

    slides.forEach((slide: HTMLElement, indx) => {
      slide.style.transform = `translateX(${100 * (indx - curSlide)}%)`;
    });
  });
</script>
