---
import { ASSETS_URL } from "../../static/utils/constants";
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Sidebar from "../components/Sidebar.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="iGEM Crete | Partnership">
  <Navbar activeNav="hp" />
  <div class="blend"></div>
  <div class="container page">
    <div>
      <Sidebar
        items={[
          {
            mainPart: { title: "Storyline", id: "part1" },
            subParts: [],
          },
          {
            mainPart: {
              title: "Exploring  the basis of our concern",
              id: "part2",
            },
            subParts: [],
          },
          {
            mainPart: { title: "Human Practices", id: "part3" },
            subParts: [],
          },
          {
            mainPart: { title: "Wet Lab ", id: "part4" },
            subParts: [],
          },
          {
            mainPart: { title: "Fund Raising ", id: "part5" },
            subParts: [],
          },
          {
            mainPart: { title: "Dry Lab", id: "part6" },
            subParts: [],
          },
        ]}
      />
    </div>

    <div>
      <div class="big-main-title" data-content="Partnership">Partnership</div>
      <section class="parts-container">
        <div id="part1" class="part scroll">
          <h1 class="part-title">Storyline</h1>
          <p>
            In the beginning of the competition we were really keen to meet
            other iGEMers and share with them our experience regarding the
            competition. As few of the members of iGEM Thessaloniki are from
            Crete and as our team is based here, some of our team’s members had
            the beautiful chance to meet on a rainy afternoon early in April. We
            enjoyed this first contact very much, as we exchanged opinions on a
            variety of matters, including our source inspiration to apply in the
            competition! Besides that we had long conversations about our
            projects and our ambitions! Additionally, each team prepared a
            survey for the project, which the other team filled in, in order to
            exchange feedback, which we then shared and talked about.
          </p>
          <div class="center">
            <img
              class="img-style img-ratio-1"
              width="40%"
              src={`${ASSETS_URL}/images/partnership/img1.jpg`}
            />
          </div>
          <p>
            After that first meeting, we could not wait to get to know all the
            members of iGEM Thessaloniki. So we arranged a second online meeting
            as soon as possible! This time, we had fun by playing games and
            presenting our projects to the rest of the members of each team.
            That meeting left us with feelings of respect, co-understanding and
            mutual appreciation. Thus we took the initiative and recommended a
            movie night!
          </p>
          <p>
            Our suggestion was to watch the movie "Platform" together, as we had
            previously completed the brainstorming process and knew we were
            concentrating on a project linked to malnutrition. We were very
            excited to proceed to a further discussion with iGEM Thessaloniki
            about the matters that the movie addressed, such as the inequity of
            opportunities that affect developing countries, which were of a
            major concern for both teams after watching this movie. Availability
            of food, as well as access to proper healthcare will create the
            opportunity of surviving and even thriving, despite the imminent
            fatal diseases and the food crisis.
          </p>
          <p>
            That’s what we wanted to achieve. We came to see the significance of
            our partnership in promoting fair access to commodities of all types
            around the world as a result of this conversation. This motivated us
            to move on to a meaningful and long lasting partnership.
          </p>
          <div class="center">
            <img
              class="img-style img-ratio-1"
              width="40%"
              src={`${ASSETS_URL}/images/partnership/platform-optimized.png`}
            />
          </div>
        </div>
        <div id="part2" class="subpart scroll">
          <h1 class="part-title">Exploring the basis of our concern</h1>
          <p>
            Wanting to validate our concerns about the distressing situation in
            the bioethics field, we conducted a social media survey with the
            headline "Bioethics in STEM". Unfortunately, by reviewing the
            statistics of the surveys that we published we came to a
            disappointing realization. The lack of awareness of young future
            scientists on the issues in &ldquo;Bioethics in STEM&rsquo;&rsquo;
            was tremendously concerning! As the pie chart suggests, every single
            one of the future scientists believe that a bioethics course is
            urgent for the natural science departments of our university. The
            findings provided inspiration for numerous of our common activities!
          </p>
          <div class="center">
            <img
              class="img-style img-ratio-1"
              width="60%"
              src={`${ASSETS_URL}/images/partnership/img2.png`}
            />
          </div>
        </div>
        <div id="part3" class="subpart scroll">
          <h1 class="part-title">Human Practices</h1>
          <p>
            As aforementioned, the current situation in the bioethics field
            strongly concerned both parties. We contacted professor of Modern
            and Newer Philosophy and Bioethics, Ms. Tsinorema, in order to
            arrange an integrated Human Practices meeting. She provided us with
            insights on the ethical aspect of our projects throughout the
            meeting. In addition, we went into great detail regarding the
            information that both scientists and non-scientists know about the
            significance of bioethical applications and how these applications
            are directly connected with our foundational Human Right of Freedom!
          </p>
          <div class="center">
            <img
              class="img-style img-ratio-1"
              width="40%"
              src={`${ASSETS_URL}/images/partnership/img3.png`}
            />
          </div>
          <p>
            So, in order to spread the knowledge we gained from this wonderful
            session, we created a booklet. We also provided a list of ideas that
            we believed may be used in schools to promote awareness from a young
            age. Our intention was to spread the idea that bioethics are
            directly linked to individual freedom and that they are a
            fundamental component of science. We wanted to go even further with
            the facts we learned from Ms. Tsinorema since they surprised us so
            deeply. So, in order to gain feedback on our projects, their
            potential applications, as well as the suggestions we included in
            our booklet, we wrote to the bioethics committee of Aristotle
            University institution. Additionally, we intended to implement one
            of our aforementioned ideas to demonstrate to the world that doing
            so may truly raise awareness of the bioethical component of
            research. Thus we organized an online debate with the title: "Should
            the rich buy the best genes?", which we uploaded to our Youtube
            Channels.
          </p>
          <p>
            Through this discussion, we wanted to acknowledge that all theories
            in science must be carefully examined, but also to demonstrate that,
            in addition to scientific progress and the achievement of accurate
            results, the application of bioethical limitations in a clear and
            consistent manner is also crucial.
          </p>
          <div class="center">
            <img
              class="img-style img-ratio-1"
              width="40%"
              src={`${ASSETS_URL}/images/partnership/epistoli-optimized.jpg`}
            />
          </div>
          <div class="center">
            <img
              class="img-style img-ratio-1"
              width="40%"
              src={`${ASSETS_URL}/images/partnership/orange-optimized.png`}
            />
          </div>
          <h3 class="section-title">Bioethics Booklet</h3>
          <button id="booklet-btn" class="booklet-button"> Open booklet</button>
          <div id="booklet" class="overflow booklet-toggle">
            <iframe
              class="responsive"
              src={`${ASSETS_URL}/images/partnership/bioethics-booklet.pdf`}
              width="100%"
              height="500px"
            >
            </iframe>
          </div>
          <h3 class="section-title">
            Troubleshooting on a Human Practices Level
          </h3>
          <p>
            We believed that exchanging thoughts and opinions at the level of
            human practices would be crucial to achieving a better and more
            fulfilling partnership. So when our teams met again at the Aegean
            meeting we had some troubleshooting sessions in order to speed
            problem-solving and improve communication about our initiatives
            across all social groups. After endless conversations, we suggested
            iGEM Thessaloniki to participate in the “Researcher’s Night” event,
            which they finally did!
          </p>

          <p>
            They also shared with us their ideas, and gave us their feedback.
            After listening to our concerns about how to familiarize small,
            isolated communities with our project they advised us to first
            contact the president of such small communities. This was an
            excellent idea as the world will easier trust someone that they
            admire. We contacted the president of Kallithea Kalambakas directly
            and had a constructive conversation on how he could help us inform
            his community.
          </p>
        </div>
        <div id="part4" class="subpart scroll">
          <h1 class="part-title">Wet Lab</h1>
          <ul>
            <li class="lists">
              <strong>Competent</strong><strong><em> E.coli</em></strong><strong
                >cells:</strong
              > In one of our frequent calls, iGEM Thessaloniki informed us that
              they were facing problems making chemically competent <em
                >E. coli</em
              > cells that they needed for some of their Interlab experiments. Due
              to the nature of our project, it was essential to make competent <em
                >E. coli</em
              > cells, and we were more than happy to provide iGEM Thessaloniki with
              the protocol that we used.
            </li>
            <li class="lists">
              <strong>Midori Green:</strong> iGEM Thessaloniki, during one of our
              weekly meetings, shared with us the problem they faced with the lack
              of space. This fact couldn&rsquo;t let them dedicate a bench for ethidium
              bromide use. After a lot of discussions, we advised them to use Midori
              Green instead of ethidium bromide, which is a substance that is less
              dangerous, and in this way, the risks were minimized.
            </li>
            <li class="lists">
              <strong>iGEM Distribution Kit:</strong> During the progress of our
              project, we faced some issues with receiving the 2022 iGEM Distribution
              Kit, and it was eventually sent back to iGEM HQ. This was a major obstacle
              in the development of our project, and we decided to use a part included
              in the previous year&rsquo;s kit. After some trials, we ended up in
              the conclusion that the DNA included in the kit was not preserved right.
              So iGEM Thessaloniki sent us their previous year distribution kit and
              in this way, we had an alternative option in the situation where the
              tries with our kit failed.
            </li>
            <li class="lists">
              <strong>Troubleshooting:</strong> Throughout the whole duration of
              our partnership with iGEM Thessaloniki, we were in constant contact
              and continuously discussed our project&rsquo;s progress. Like the majority
              of iGEM teams, we too faced obstacles in both the experimental procedures
              and also in the other aspects of the competition. Furthermore, in the
              case of the experimental procedures we both exchanged insights and
              empirical knowledge for protocols that we may have used (e.g. incubation
              times, reaction temperatures etc.). Lastly we helped each other in
              the explanation and review of both of our team's results.
            </li>
          </ul>
          <div class="center">
            <img
              class="img-style img-ratio-1"
              width="40%"
              src={`${ASSETS_URL}/images/partnership/img4.jpg`}
            />
          </div><div class="center">
            <img
              class="img-style img-ratio-1"
              width="40%"
              src={`${ASSETS_URL}/images/partnership/img5.png`}
            />
          </div>
        </div>
        <div id="part5" class="subpart scroll">
          <h1 class="part-title">Fund Raising</h1>
          <p>
            Since both teams are supported by sponsors, we had to locate
            companies that wish to assist our ambitions. We assisted one another
            to contact several sponsors in an effort to gain extra funding. This
            worked well for us, since a few businesses supported both of our
            teams. Additionally, after a few fundraising sessions we ended up
            with a common sponsor approaching plan that included different
            sponsorship packages. Initially we presented our project to our
            potential sponsors and then we informed them via email about our
            sponsorship packages that vary according to the amount of funding.
          </p>
          <p>
            Last but not least, members of our fundraising team joined forces in
            this year’s TIF and contacted both local and international sponsors!
          </p>
          <div class="center">
            <img
              class="img-style img-ratio-1"
              width="40%"
              src={`${ASSETS_URL}/images/partnership/img6.jpg`}
            />
          </div>
        </div>
        <div id="part6" class="subpart scroll">
          <h1 class="part-title">Dry Lab</h1>
          <p>
            Troubleshooting sessions were held by the wiki developers from both
            teams while they were in constant communication. Igem Thessaloniki
            put their home page design concept into practice with the guidance
            and assistance of our Dry Lab team. The layout and technical aspects
            of each wiki article were heavily debated. We looked at each other's
            wikis after they had been published and provided aesthetic
            criticism.
          </p>
          <div class="center">
            <img
              class="img-style img-ratio-1"
              width="40%"
              src={`${ASSETS_URL}/images/partnership/dry.png`}
            />
          </div>
        </div>
      </section>
    </div>
  </div>

  <Footer />
</Layout>

<style>
  @import "../../static/styles/text-page.css";
  .center {
    display: flex;
    justify-content: flex-start;
  }
  .lists,
  .sublists {
    list-style-type: none;
    padding-left: 2.5em;
    position: relative;
  }

  .lists:before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: var(--blue-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    top: 10px;
    left: 15px;
  }

  .link {
    color: var(--blue-color);
    text-decoration: underline;
  }
  a:hover {
    color: var(--coral-red-color);
  }
  .img-grid {
    display: flex;
    gap: 1em;
  }
  strong {
    color: var(--blue-color);
  }
  .img-grid img {
    aspect-ratio: 1/1;
    object-fit: cover;
    width: 30%;
  }
  .img-style {
    border-radius: 10px;
  }

  /*iframe*/
  .responsive {
    width: 100%;
  }

  .booklet-toggle {
    display: none;
  }

  .overflow {
    overflow-x: auto;
  }

  /*iframe .booklet-button*/
  .booklet-button {
    z-index: 0;
    --color: var(--coral-red-color);
    font-family: inherit;
    display: inline-block;
    width: 8em;
    height: 2.6em;
    line-height: 2.5em;
    position: relative;
    overflow: hidden;
    border: 2px solid var(--color);
    transition: color 0.5s;

    font-size: 1.25rem;
    border-radius: 6px;
    font-weight: 600;
    color: var(--color);
    background-color: white;
  }

  .booklet-button:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--color);
    height: 150px;
    width: 200px;
    border-radius: 50%;
  }

  .booklet-button:hover {
    color: #fff;
  }

  .booklet-button:before {
    top: 100%;
    left: 100%;
    transition: all 0.7s;
  }

  .booklet-button:hover:before {
    top: -30px;
    left: -30px;
  }

  .booklet-button:active:before {
    background: white;
    transition: background 0s;
  }

  @media (max-width: 992px) {
    .center {
      justify-content: center;
    }
  }

  @media (max-width: 576px) {
    .img-grid {
      flex-direction: column;
      align-items: center;
    }
    .img-grid img {
      width: 50%;
    }
  }
  @media (max-width: 576px) {
    .responsive {
      width: 100%;
      height: 400px;
    }
  }
  @media (max-width: 420px) {
    .responsive {
      width: 100%;
    }
  }
</style>

<script>
  const bookletBtn = document.getElementById("booklet-btn");
  const booklet = document.getElementById("booklet");

  bookletBtn.addEventListener("click", () => {
    booklet.classList.toggle("booklet-toggle");
    if (booklet.classList.contains("booklet-toggle")) {
      bookletBtn.innerHTML = "Open booklet";
    } else {
      bookletBtn.innerHTML = "Close booklet";
    }
  });
</script>
