---
import { ASSETS_URL } from "../../static/utils/constants";
import type { Member } from "../../static/models/member";

const { field, fname, lname, info, linkedIn } = Astro.props as Member;
---

<div class="card">
  <img
    class="member-img"
    src={`${ASSETS_URL}/images/team/${fname.toLowerCase()}.jpg`}
  />
  <div class="darken-bg"></div>
  <div class="field">{field}</div>
  <div class="member">
    <div class="name">{fname} {lname}</div>
    <div class="info">{info}</div>
  </div>
  <div class="social">
    <a href={`${linkedIn}`} target="_blank" class="social-btn">
      <i class="ph-linkedin-logo-bold social-icon"></i>
    </a>
  </div>
</div>

<style>
  .card {
    position: relative;
    width: 15em;
    aspect-ratio: 3 / 4;
    border-radius: 0.625em;
    overflow: hidden;
  }

  .darken-bg {
    position: absolute;
    bottom: 0%;
    width: 100%;
    height: 30%;
    background: linear-gradient(to top, black, transparent);
    transition: 0.2s linear;
  }

  .member-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.2s ease-out;
  }

  .field {
    position: absolute;
    top: 0;
    padding: 16px;
    color: var(--dark-blue-color);
    text-transform: uppercase;
    font-family: var(--main-font-bold);
    font-size: 1.5rem;

    transform: translateY(-3.2em);
    transition: transform 0.3s ease-out;
  }
  .member {
    position: absolute;
    bottom: 0%;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    padding: 1em;

    transform: translateY(1.5em);
    transition: 0.3s ease-out;
  }

  .member .name {
    font-family: var(--main-font-medium);
    font-size: 1.125rem;
    color: white;
    font-family: var(--main-font);
  }

  .member .info {
    font-size: 0.875rem;
    color: white;
    font-family: var(--second-font);
    opacity: 0;
    transition: 0.3s ease-out;
  }

  .social {
    position: absolute;
    top: 50%;
    right: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 2em;

    opacity: 0;
    transform: translateX(4em) translateY(-50%);
    transition: 0.3s ease-out;
  }

  .social .social-btn {
    display: flex;
    padding: 0.5em;
    background-color: white;
    border: none;
    transition: 0.3s ease;
    border-radius: 0.5em;
  }

  .social-icon {
    cursor: pointer;
    color: var(--dark-blue-color);
    font-size: 1.75rem;
  }

  .card:hover .field {
    transform: translateY(0);
  }

  .card:hover .member {
    transform: translateY(0);
  }

  .card:hover .member .info {
    opacity: 100%;
  }

  .card:hover .member-img {
    transform: scale(1.15);
  }

  .card:hover .social {
    transform: translateX(0) translateY(-50%);
    opacity: 100%;
  }

  .card:hover .darken-bg {
    height: 40%;
    background: linear-gradient(to top, black, transparent);
  }

  .social .social-btn:hover {
    transform: translate(-0.25em, -0.5em);
  }
</style>
